<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <title>郑州铁路局主要生产指标完成情况分析表</title>
    <style>
        <!--
        a {
            text-decoration: none
        }

        a:hover {
            color: green;
            text-decoration: underline
        }

        #p1 {
            font-family: 宋体;
            font-size: 9pt
        }

        -->
    </style>

</head>


<body>
<h1 align="center">郑州铁路局主要生产指标完成情况分析表</h1>

<TABLE WIDTH=100% BORDER=0 CELLSPACING=0 CELLPADDING=0 ALIGN=center>
    <TR>
        <td align="left">日期：20200907（18点）</td>

        <TD ALIGN="right">
            <FONT COLOR=#FF3300>
                [<a href="/sbd/stat.html">首页</a>]
                [<a href="/sbd/Zhuyaosczb.jsp?date=20200906">前一天</a>]

                [<a href="/sbd/Zhuyaosczb.jsp?date=20200908">后一天</a>]

                [<a href="/sbd/Zhuyaosczb.jsp?date=20200913">昨天</a>]
            </FONT>
        </TD>
    </TR>
</TABLE>

<Table border="1" CELLSPACING=0 CELLPADDING=0 width="100%" id="table1" style="font-size: 11pt">
    <TR bgcolor=#70A6FF>
        <th rowspan=2 colspan=2><FONT COLOR=#FFFFFF>指标</FONT></th>
        <th rowspan=2><FONT COLOR=#FFFFFF>单位</FONT></th>
        <th colspan=2><FONT COLOR=#FFFFFF>年计划</FONT></th>
        <th colspan=1 rowspan=2><FONT COLOR=#FFFFFF>实际</FONT></th>
        <th colspan=2><FONT COLOR=#FFFFFF>本月累计完成</FONT></th>
        <th colspan=2><FONT COLOR=#FFFFFF>本年累计完成</FONT></th>
        <th colspan=3><FONT COLOR=#FFFFFF>与进度计划比</FONT></th>
        <th colspan=3><FONT COLOR=#FFFFFF>本年完成与上年同期比</FONT></th>
        <th rowspan=2><FONT COLOR=#FFFFFF>完成剩余年计划<br>需日均完成</FONT></th>
    </tr>
    <TR bgcolor=#70A6FF>
        <th><FONT COLOR=#FFFFFF>计划</font></th>
        <th><FONT COLOR=#FFFFFF>日均</font></th>
        <th><FONT COLOR=#FFFFFF>累计</font></th>
        <th><FONT COLOR=#FFFFFF>日均</font></th>
        <th><FONT COLOR=#FFFFFF>累计</font></th>
        <th><FONT COLOR=#FFFFFF>日均</font></th>
        <th><FONT COLOR=#FFFFFF>进度计划</font></th>
        <th><FONT COLOR=#FFFFFF>绝对数+-</font></th>
        <th><FONT COLOR=#FFFFFF>+ - %</font></th>
        <th><FONT COLOR=#FFFFFF>上年实际</font></th>
        <th><FONT COLOR=#FFFFFF>绝对数+-</font></th>
        <th><FONT COLOR=#FFFFFF>+ - %</font></th>
    </tr>

    <tr align=right>
        <th align=left colspan=2>运输收入</th>
        <th align=center>万元</th>

        <td>3088700</td>

        <td>8439.1</td>

        <td>10213</td>

        <td>70081</td>

        <td>10011.6</td>

        <td>2076134</td>

        <td>8271.5</td>

        <td>2118206.8</td>

        <td>-42072.8</td>

        <td>-1.99</td>

        <td>2580955</td>

        <td>-504821</td>

        <td>-19.56</td>

        <td>8805</td>

    </tr>
    <tr align=right>
        <th align=center rowspan=4>其<br>中</th>
        <th align=left>客票</th>
        <th align=center>万元</th>

        <td>952300</td>

        <td>2601.9</td>

        <td>4346</td>

        <td>29594</td>

        <td>4227.7</td>

        <td>660209</td>

        <td>2630.3</td>

        <td>653080.1</td>

        <td>7128.9</td>

        <td>1.09</td>

        <td>1114130</td>

        <td>-453921</td>

        <td>-40.74</td>

        <td>2540</td>

    </tr>
    <tr align=right>
        <th align=left>货票</th>
        <th align=center>万元</th>

        <td>1653300</td>

        <td>4517.2</td>

        <td>4639</td>

        <td>31915</td>

        <td>4559.3</td>

        <td>1104827</td>

        <td>4401.7</td>

        <td>1133820.5</td>

        <td>-28993.5</td>

        <td>-2.56</td>

        <td>1117729</td>

        <td>-12902</td>

        <td>-1.15</td>

        <td>4769.4</td>

    </tr>
    <tr align=right>
        <th align=left>建设基金</th>
        <th align=center>万元</th>

        <td>339700</td>

        <td>928.1</td>

        <td>910</td>

        <td>6439</td>

        <td>919.9</td>

        <td>226310</td>

        <td>901.6</td>

        <td>232963.7</td>

        <td>-6653.7</td>

        <td>-2.86</td>

        <td>229370</td>

        <td>-3060</td>

        <td>-1.33</td>

        <td>986</td>

    </tr>
    <tr align=right>
        <th align=left>其它</th>
        <th align=center>万元</th>

        <td>143400</td>

        <td>391.8</td>

        <td>318</td>

        <td>2133</td>

        <td>304.7</td>

        <td>84788</td>

        <td>337.8</td>

        <td>98342.6</td>

        <td>-13554.6</td>

        <td>-13.78</td>

        <td>119726</td>

        <td>-34938</td>

        <td>-29.18</td>

        <td>509.7</td>

    </tr>
    <tr align=right>
        <th align=center rowspan=3>周<br>转<br>量</th>
        <th align=left>客周</th>
        <th align=center>万人公里</th>


        <td>4310000</td>

        <td>11776</td>

        <td>19604</td>

        <td>134017</td>

        <td>19145</td>

        <td>2963801</td>

        <td>11808</td>

        <td>2955765</td>

        <td>8036</td>

        <td>0.27</td>

        <td>6115030</td>

        <td>-3151229</td>

        <td>-51.53</td>

        <td>11706.1</td>

    </tr>
    <tr align=right>
        <th align=left>货周</th>
        <th align=center>万吨公里</th>

        <td>18870000</td>

        <td>51557</td>

        <td>56286</td>

        <td>392777</td>

        <td>56111</td>

        <td>12756409</td>

        <td>50822</td>

        <td>12940902</td>

        <td>-184493</td>

        <td>-1.43</td>

        <td>13229917</td>

        <td>-473508</td>

        <td>-3.58</td>

        <td>53161.7</td>

    </tr>
    <tr align=right>
        <th align=left>换周</th>
        <th align=center>万吨公里</th>

        <td>23180000</td>

        <td>63333</td>

        <td>75890</td>

        <td>526794</td>

        <td>75256</td>

        <td>15720211</td>

        <td>62630</td>

        <td>15896667</td>

        <td>-176456</td>

        <td>-1.11</td>

        <td>19344946</td>

        <td>-3624735</td>

        <td>-18.74</td>

        <td>64867.8</td>

    </tr>

    <TR align=right>
        <th align=left colspan=2>客发</th>
        <th align=center>万人</th>

        <td>8318</td>

        <td>22.7</td>

        <td>36.3</td>

        <td>248.2</td>

        <td>35.5</td>

        <td>5706.8</td>

        <td>22.7</td>

        <td>5704.4</td>

        <td>2.4</td>

        <td>0.04</td>

        <td>10129.4</td>

        <td>-4422.6</td>

        <td>-43.66</td>

        <td>22.8</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>货发</th>
        <th align=center>万吨</th>

        <td>17175</td>

        <td>46.9</td>

        <td>49.6</td>

        <td>342.7</td>

        <td>49</td>

        <td>11537.3</td>

        <td>46</td>

        <td>11778.5</td>

        <td>-241.2</td>

        <td>-2.05</td>

        <td>11475.3</td>

        <td>62</td>

        <td>0.54</td>

        <td>49.1</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>煤发</th>
        <th align=center>万吨</th>

        <td>12200</td>

        <td>33.3</td>

        <td>36.3</td>

        <td>240.4</td>

        <td>34</td>

        <td>8093.8</td>

        <td>32</td>

        <td>8366.7</td>

        <td>-272.9</td>

        <td>-3.26</td>

        <td>8268.3</td>

        <td>-174.5</td>

        <td>-2.11</td>

        <td>35.8</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>装车数</th>
        <th align=center>车</th>

        <td>2796240</td>

        <td>7640</td>

        <td>8115</td>

        <td>56099</td>

        <td>8014</td>

        <td>1879040</td>

        <td>7486</td>

        <td>1917640</td>

        <td>-38600</td>

        <td>-2.01</td>

        <td>1858946</td>

        <td>20094</td>

        <td>1.08</td>

        <td>7975.7</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>装煤车数</th>
        <th align=center>车</th>

        <td>1819020</td>

        <td>4970</td>

        <td>5388</td>

        <td>35788</td>

        <td>5113</td>

        <td>1205157</td>

        <td>4801</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>1236357</td>

        <td>-31200</td>

        <td>-2.52</td>

        <td>5338</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>卸空车数</th>
        <th align=center>车</th>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>7828</td>

        <td>52838</td>

        <td>7548</td>

        <td>1691143</td>

        <td>6738</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>1721438</td>

        <td>-30295</td>

        <td>-1.76</td>

        <td>&nbsp</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>运用车数</th>
        <th align=center>车</th>

        <td>16214532</td>

        <td>44302</td>

        <td>47009</td>

        <td>341716</td>

        <td>48817</td>

        <td>10907301</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>12092674</td>

        <td>-1185373</td>

        <td>-9.8</td>

        <td>&nbsp</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>周时</th>
        <th align=center>天</th>

        <td>1.41</td>

        <td>&nbsp</td>

        <td>1.35</td>

        <td>1.35</td>

        <td>&nbsp</td>

        <td>1.39</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>1.39</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>停时</th>
        <th align=center>小时</th>

        <td>25</td>

        <td>&nbsp</td>

        <td>23.8</td>

        <td>24.3</td>

        <td>&nbsp</td>

        <td>24.1</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>24.5</td>

        <td>-0.4</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>中时</th>
        <th align=center>小时</th>

        <td>4.3</td>

        <td>&nbsp</td>

        <td>4.1</td>

        <td>4</td>

        <td>&nbsp</td>

        <td>4.2</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>4.1</td>

        <td>0.1</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>旅速</th>
        <th align=center>公里/小时</th>

        <td>40.5</td>

        <td>&nbsp</td>

        <td>38.8</td>

        <td>38.8</td>

        <td>&nbsp</td>

        <td>41.9</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>39.2</td>

        <td>2.7</td>

        <td>6.89</td>

        <td>&nbsp</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>静载重</th>
        <th align=center>吨/车</th>

        <td>61.4</td>

        <td>&nbsp</td>

        <td>61.1</td>

        <td>61.1</td>

        <td>&nbsp</td>

        <td>61.4</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>61.7</td>

        <td>-0.3</td>

        <td>-0.49</td>

        <td>&nbsp</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>日车公里</th>
        <th align=center>公里</th>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>460</td>

        <td>467</td>

        <td>&nbsp</td>

        <td>472</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>461</td>

        <td>11</td>

        <td>2.39</td>

        <td>&nbsp</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>日产量</th>
        <th align=center>万吨公里</th>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>111.8</td>

        <td>112.9</td>

        <td>&nbsp</td>

        <td>112.6</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>113.6</td>

        <td>-1</td>

        <td>-0.88</td>

        <td>&nbsp</td>

    </TR>

    <TR align=right>
        <th align=left colspan=2>平牵</th>
        <th align=center>吨</th>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>3353</td>

        <td>3361</td>

        <td>&nbsp</td>

        <td>3428</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>&nbsp</td>

        <td>3405</td>

        <td>23</td>

        <td>0.68</td>

        <td>&nbsp</td>

    </TR>

</table>
<HR WIDTH=100% SIZE=1>

<!-- 以下是底边-->

</body>
</html>